@tailwind base;
@tailwind components;
@tailwind utilities;


/* En tu CSS global */
.mt-navbar {
    margin-top: 80px; /* Ajusta este valor según la altura de tu navbar */
  }

  .embla {
    max-width: 100%;
    margin: auto;
    --slide-height: 22rem;
    --slide-spacing: 1rem;
    --slide-size: 100%;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    position: relative;
  }
  .embla__slide__inner {
    display: block;
    height: var(--slide-height);
    position: relative;
    overflow: hidden;
  }
  .embla__controls {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    margin-top: 0;
  }

  
  @media (min-width: 768px) {
    .embla {
      --slide-size: 33.33%;
    }
  }